body {
padding: 0;
margin: 0;
}

header {
    background-color: blue;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
}

h2 {
    color: rgb(136, 7, 7);
    display: flex;         
    justify-content: center;
}

img {
    height: 300px;
    width: 600px;
}

.about {
background-color: white;
padding: 30px;
}
 
p {
  font-size: 20px;
  font-weight: 500;
  
}
.center {
     display: flex;
    justify-content: center; 
}

.goal {
background-color: #9ec7e2cb;
padding: 40px;
}

span {
    color:blue ;
}

footer {
    background-color: blue;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
}